@model ProjetAspCore.ViewsModels.BookListViewModel
    <div class="mt-5 row text-center">
        <img src="~/images/book.jpg" class="img-fluid" alt="Responsive image">
       
    </div>
@foreach (var book in Model.Books)
{
      <partial name="_CardBook" model="@book" />
   
}
