@model ProjetAspCore.ViewsModels.BookListViewModel

<html>

<head>
    La liste des livres
</head>

<body>
    @foreach (var book in Model.Books)
    {
        <h1>@book.Name</h1>
        <img src="@book.ImageUrl" />
        <h2>@book.ShortDescription</h2>
        <h3>@book.Price.ToString("c")</h3>

    }

</body>
</html>
