@model ProjetAspCore.ViewsModels.BookListViewModel

<html>

<head>
    
</head>

<body>
    @foreach (var book in Model.Books)
    {
       <partial name="_CardBook" model="@book" />
    }

</body>
</html>
