<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Le temps du virus</title>
    <link href="~/Lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Lib/jquery/jquery.js"></script>
    <script src="~/Lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/contents/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" @Html.ActionLink("Le temps du virus", "Index", "Home")</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-nav">
                <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Accueil</a>
                <a class="nav-item nav-link active" asp-controller="Book" asp-action="List">Livres</a>
                @await Component.InvokeAsync("ShoppingCartSummary")
                <a class="nav-item nav-link active" asp-controller="Contact" asp-action="Index">Contact</a>
               
                <!--Affiche la parti connexion-->
                <partial name="_LoginPartial"/>
            </div>
    
    </nav>
    <div class="row">
        @RenderBody()
    </div>
        <!--fichier pour faire fonctionner le fichier _loginPartial-->
    @RenderSection("Scripts", required: false)
    </div>
</body>


