@model Order

    <form asp-controller="order" asp-action="CreateOrder" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="LastName" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="LastName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FirstName" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="FirstName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressLine1" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="AddressLine1" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressLine2" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="AddressLine2" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="ZipCode" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="City" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="State" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="Country" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="PhoneNumber" class="form-control" />
            </div>
        </div> <div class="form-group">
            <label asp-for="Email" Name" class="col-md-10 cust-label"></label>
            <div class="col-md-5">
                <input asp-action="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="button" value="complete order" class="btn btn-success" />
            </div>

        </div>
        
    </form>   